
  <div class="container mt-5">
  <h1 class="display-4">{{ discussion?.title }}</h1>

  <p class="lead mt-3">{{ discussion?.content }}</p>

  <a [routerLink]="['/update-discussion', discussion?.id]">EDIT</a>
  <a [routerLink]="['/delete-discussion', discussion?.id]">DELETE</a>

  <h2 class="mt-4">Comments</h2>
  <app-create-comment [discussionId]="discussionId" class="mb-3"></app-create-comment>
  
  <div *ngFor="let comment of discussion?.comments" class="mb-3">
    <app-comment [comment]="comment"></app-comment>
  </div>


 
  <a routerLink="/discussions" class="btn btn-secondary mt-4">Back to Discussions List</a>
</div>


