.talk-bubble {
    margin: 25px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    width: 45%;
    height: auto;
    border: 2px solid #70AD47;
    border-radius: 30px;
}

.bubble-text:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #70AD47 transparent transparent #70AD47;
}
