<div class="text-center p-6">
  <h1 class="display-3 p-2">Welcome to <span style="color: #70AD47;">Thread</span>Trek</h1>
  <div class="talk-bubble tri-right border round btm-left-in p-3">
      <div class="bubble-text">
          <p class="p-4">
              An online community for open and engaging discussions on any topic under the sun.<br />
              Whether you want to share your thoughts, seek valuable opinions or discover new ideas,
              ThreadTrek is the place to connect with a diverse community of like-minded people.
              Ask for advice, exchange recipes, or simply explore the wealth of knowledge and perspectives that await you here. <br />
              Join us today and become part of a vibrant, friendly and limitless world of conversation!
          </p>
      </div>
  </div>
  <div class="text-center">
      <a class="btn px-4" style="width: auto; background-color: #70AD47;" routerLink="/discussions">Read discussions</a>
  </div>
</div>